.DS_Store
*.swp
Temp
Library/*
!EditorBuildSettings.asset
!InputManager.asset
!ProjectSettings.asset
!QualitySettings.asset
!TagManager.asset
!TimeManager.asset
!AudioManager.asset
!DynamicsManager.asset
!NetworkManager.asset
